@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-default-content:not(.custom) {
  max-width: 48rem;
}


blockquote, ol, p, ul {
  margin: 1rem 0;
  line-height: 1.7;
}

ol, ul {
  list-style: auto;
  padding: 1rem;
}

a {
  color: #4979ff;
}

h1 {
  @apply text-4xl font-semibold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}

svg.vssue-icon {
  display: inline-block;
}

.newsletter__wrap {
  margin: 3rem auto 4rem auto !important;
  border-radius: 10px !important;
  box-shadow: rgba(73, 121, 255, 40%) 5px 5px, rgba(73, 121, 255, 30%) 10px 10px, rgba(73, 121, 255, 20%) 15px 15px, rgba(73, 121, 255, 10%) 20px 20px, rgba(73, 121, 255, 5%) 25px 25px;
}