html,
body {
  background: #fff;
  color: #000;
}

body {
  max-width: 650px;
  margin: 50px auto;
  padding: 0 20px;
  font-family: Times;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-weight: bold;
  margin: 19.92px 0;
  font-size: 24px;
  line-height: 1.4;
}

h2 {
  font-weight: bold;
  margin: 18.72px 0;
  font-size: 18.72px;
  line-height: 1.4;
}

p {
  margin: 16px 0;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
  margin: 16px 0;
}

li {
  margin: 0;
}

a {
  color: #0000EE;
  text-decoration: underline;
}

a:visited {
  color: #551A8B;
}

/* Code blocks */
.vp-doc div[class*='language-'] {
  position: relative;
  margin: 16px 0;
  background-color: #f6f6f7;
  overflow-x: auto;
  transition: background-color 0.5s;
}

.vp-doc div[class*='language-'] code {
  display: block;
  padding: 12px 16px;
  width: fit-content;
  min-width: 100%;
  line-height: 1.2;
  font-size: 14px;
  color: #213547;
  transition: color 0.5s;
}

.vp-doc div[class*='language-'] pre {
  margin: 0;
  padding: 0;
}

.vp-doc div[class*='language-'] .lang {
  position: absolute;
  top: 2px;
  right: 8px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: #999;
  transition: color 0.5s;
}

.vp-doc div[class*='language-'] code .line {
  display: block;
}

/* Inline code */
.vp-doc :not(pre) > code {
  border-radius: 4px;
  padding: 3px 6px;
  color: #476582;
  background-color: rgba(27, 31, 35, 0.05);
  transition: color 0.5s, background-color 0.5s;
  font-size: 14px;
}
